<script>
    const gitalk = new Gitalk({
        clientID: 'a29957bbe64c80381b1c',
        clientSecret: '57508ceddd2d2f7edc36657182a45e20cc8d556a\n',
        repo: 'qz',
        owner: 'qiaozhios',
        admin: [
            'qiaozhios'
        ],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container')
    function validateForm(query)
    {
        return (query.length > 0);
    }
</script>
