{% extends 'base.html' %}

{% block title %}
    页面不存在 · {{ super() }}
{% endblock title %}

{% block head_description %}
    {{ SITENAME|striptags|e }}不存在该页面.
{% endblock head_description %}
{% block content %}
    <div class="row-fluid">
        <header class="page-header span10 offset2">
            <h1>您所访问的页面不存在！</h1>
        </header>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2">
            <p>对不起，您所访问的页面可能由于不存在或者已经删除没有找到。</p>
            <p>您可以跳转到<a href="{{ SITEURL }}">主页</a>。</p>
            <div class="input-append">
                {% from '_includes/_defaults.html' import SEARCH_URL with context %}
                <form action="{{ SITEURL }}/{{ SEARCH_URL }}" onsubmit="return validateForm(this.elements['q'].value)">
                    <input type="text" class="span12" placeholder="Search" name="q" id="tipue_search_input_404">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Get Current location as the initial search item
        var newurl = (' ' + window.location.pathname).slice(1);

        // Replace "/" in path into spaces
        var newurl = newurl.replace(/\//g, ' ');

        // Remove html extension
        var newurl = newurl.replace(/.html/g, ' ');

        // Replace - by ' '
        var newurl = newurl.replace(/\-/g, ' ');

        // Fill search field with resulting string
        document.getElementById('tipue_search_input_404').value = newurl;
    </script>

{% endblock content %}
